<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Check In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img
      class="img-signup"
      src="../../assets/img/color_logo1.png"
    >

    <section class="register">
      <div class="content">
        <form #signUpForm="ngForm">
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="todo.motte"
              autocorrect="none"
              placeholder="Nombres"
              autocapitalize="on"
              name="motte"
              required="required"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="todo.contacto"
              autocorrect="off"
              placeholder="Telefono"
              autocapitalize="none"
              name="Telefono"
              required="required"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="todo.ciudad"
              autocorrect="off"
              placeholder="Ciudad"
              autocapitalize="none"
              name="ciudad"
              required="required"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="email"
              [(ngModel)]="todo.email"
              autocorrect="off"
              placeholder="Correo"
              autocapitalize="none"
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required="required"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="password"
              placeholder="Contraseña"
              required="required"
              minlength="6"
            ></ion-input>
          </ion-item>

          <ion-button
            class="signup-button"
            expand="full"
            fill="outline"
            [disabled]="!signUpForm.form.valid"
            block="block"
            color="secondary"
            round="round"
            (click)="onSubmitRegister()"
          >Registrarse</ion-button>
        </form>
      </div>
    </section>
  </div>
</ion-content>