<ion-app>
  <ion-split-pane >
    <ion-menu>
      <ion-header >
        <ion-toolbar color="secondary"  class="ion-text-center">
          <img class="home-img" src="../assets/img/color_logo1.png" width="30%"/>
        </ion-toolbar>
      </ion-header>
      <ion-content color="secondary">
        <ion-list >
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="secondary">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" [routerLink]="" color="secondary" >
                <ion-icon slot="start" name="md-share"></ion-icon>
                <ion-label >
                    Share
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" [routerLink]="" color="secondary" (click)="signOut()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label >
                    Logout
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>