<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Remember</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img
      class="img-reset"
      src="../../assets/img/color_logo1.png"
    >

    <section>
      <div class="content">
        <form #ResetPasswordForm="ngForm">
            <ion-item>
              <ion-label position="floating">e-mail</ion-label>
              <ion-input
                type="email"
                [(ngModel)]="email"
                autocorrect="off"
                autocapitalize="none"
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                required="required"
              ></ion-input>
            </ion-item>
            <ion-button
                class="reset-button"
                expand="full"
                fill="outline"
                [disabled]="!ResetPasswordForm.form.valid"
                block="block"
                round="round"
                (click)="onSubmitReset()"
            >Send Remember</ion-button>
        </form>
      </div>
    </section>
  </div>
</ion-content>