<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img class="home-img" src="../../assets/img/color_logo1.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="buttondestacado button1" (click)="openBlankBt1()">
          Directorio
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="button2" (click)="openBlankBt2()"> 
            Noticias
        </ion-button>
      </ion-col>
      <ion-col align-self-center>
        <ion-button class="button3" (click)="openBlankBt3()"> 
          Eventos
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="button4" (click)="openBlankBt4()">
          Boletín
        </ion-button>
      </ion-col>
      <ion-col align-self-center>
        <ion-button class="button5" (click)="openBlankBt5()">
          Audio / Video
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="button6" (click)="openBlankBt6()">
          Galería
        </ion-button>
      </ion-col>
      <ion-col align-self-center>
        <ion-button class="button7" (click)="openBlankBt7()">
          Fichas técnicas
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="buttondestacado button1" (click)="openBlankBt1()">
          Directorio
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
