.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-content .buttondestacado{
  width: 200px;
  height: 100px;
  --border-radius: 60px;
}
ion-content ion-button{
  width: 100px;
  height: 100px;
  --border-radius: 60px;
}