<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img class="home-img" src="../../assets/img/color_logo1.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
          <img class="buttondestacado button1" src="assets/img/directorio.gif" (click)="openBlankBt1()">
 
        <!-- <ion-button class="buttondestacado button1" (click)="openBlankBt1()">
            Directorio
        </ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="button2" src="assets/img/btn2.jpg" (click)="openBlankBt2()">
        <!-- <ion-button class="button2" (click)="openBlankBt2()"> 
            Noticias
        </ion-button> -->
      </ion-col>
      <ion-col class="ion-text-center">
        <img class="button3" src="assets/img/btn3.jpg" (click)="openBlankBt3()">
        <!-- <ion-button class="button3" (click)="openBlankBt3()"> 
          Eventos
        </ion-button> -->
      </ion-col>
      <ion-col class="ion-text-center">
        <img class="button4" src="assets/img/btn4.jpg" (click)="openBlankBt4()">
        <!-- <ion-button class="button4" (click)="openBlankBt4()">
          Boletín
        </ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="button5" src="assets/img/btn5.jpg" (click)="openBlankBt5()">
        <!-- <ion-button class="button5" (click)="openBlankBt5()">
          Audio <br> & <br> Video
        </ion-button> -->
      </ion-col>
      <ion-col class="ion-text-center">
        <img class="button6" src="assets/img/btn6.jpg" (click)="openBlankBt6()">
        <!-- <ion-button class="button6" (click)="openBlankBt6()">
          Galería
        </ion-button> -->
      </ion-col>
      <ion-col class="ion-text-center">
        <img class="button7" src="assets/img/btn7.jpg" (click)="openBlankBt7()">
        <!-- <ion-button class="button7" (click)="openBlankBt7()">
          Fichas <br> técnicas
        </ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="buttondestacado button8" src="assets/img/boton-compartir.jpg" (click)="share()">
        <!-- <ion-button class="buttondestacado button8" (click)="share()"></ion-button>
          Compartir
        </ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="pauta" src="assets/img/pauta.gif">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
