<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <img
        class="home-img"
        src="../../assets/img/color_logo1.png"
      >
    </ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only="icon-only">
        <ion-icon
          name="add"
          class="transparent"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="padding">
  <ion-card>
    <button 
    class="sharenoti"
    ion-button="ion-button"
    icon-only="icon-only"
    >
      <ion-icon name="share"></ion-icon>
    </button>
    <img src="{{noti.img}}">

    <ion-card-header>
      <ion-card-subtitle>{{noti.date}}</ion-card-subtitle>

      <ion-card-title>{{noti.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{noti.cuerpo}}</ion-card-content>
  </ion-card>
</ion-content>