<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title class="ion-text-center">
        <img
          class="home-img"
          src="../../assets/img/color_logo1.png"
        >
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button icon-only="icon-only">
          <ion-icon name="add" class="transparent"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    {{noti.titulo}}
  </ion-content>