<ion-content>
  <div class="container">
    <img
      class="img-signin"
      src="../../assets/images/logo_chronex.png"
    >

    <section class="register">
      <div class="content">
        <h2 class="titulo-signin">Ingresa</h2>

        <form #signInForm="ngForm">
          <ion-item>
            <ion-input
              type="email"
              autocorrect="off"
              autocapitalize="none"
              placeholder="email"
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required="required"
              [(ngModel)]="email" 
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              placeholder="password"
              name="password"
              required="required"
              minlength="6"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>

          <ion-button
            ion-button="ion-button"
            [disabled]="!signInForm.form.valid"
            block="block"
            color="secondary"
            round="round"
            (click)="onSubmitLogin()"
          >Entrar</ion-button>

          <p>
            &iquest;No tienes Cuenta de Usuario?
            <a class="alink" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Regístrate</a>
          </p>
          <p>
            o tal vez has
            <a class="alink" [routerLink]="['/reset-pass']" routerLinkActive="router-link-active" >Olvidado la Contraseña</a>
          </p>
        </form>
      </div>
    </section>
  </div>
</ion-content>