<ion-content>
  <div class="container">
    <img
      class="img-signin"
      src="../../assets/img/color_logo1.png"
    >

    <section>
      <div>
        <form #signInForm="ngForm">

          <ion-item>
            <ion-label position="floating">e-mail</ion-label>
            <ion-input
              type="email"
              autocorrect="off"
              autocapitalize="none"
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required="required"
              [(ngModel)]="email" 
            ></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input
              type="password"
              name="password"
              required="required"
              minlength="6"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
          <p>
            <a class="alink-recordar" [routerLink]="['/reset-pass']" routerLinkActive="router-link-active" >Forgot Password?</a>
          </p>
          <ion-button
            class="signin-button"
            expand="full"
            fill="outline"
            [disabled]="!signInForm.form.valid"
            block="block"
            round="round"
            (click)="onSubmitLogin()"
          >SIGN IN</ion-button>
          <p>
            <a class="alink" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Don´t have account</a>
          </p>
        </form>
      </div>
    </section>
  </div>
</ion-content>